@charset "UTF-8";

a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
body {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Source Sans Pro', sans-serif;
}
input {
  font-size: 18px;
  text-align: center;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.black {
  color: white;
  background: #000;
}
.nolook {
  display: none !important;
}
.textgray {
  font-size: 20px;
  color: #7d7d7d;
}
.stamp {
  background-image: url(../images/stamp.png);
  background-position: 115% -30%;
  background-size: 50px;
  background-repeat: no-repeat;
}
/*---------main--------*/
#main {
  margin-top: 100px;
}
/*---------maintimer---------*/
#maintimer {
  width: 100%;
}
.todo-text {
  font-size: 18px;
}
#timer {
  text-align: center;
  margin-top: 150px;
  font-size: 60px;
}
/*--------btn1--------*/
#btn-zone {
  margin-top: 60px;
  position: relative;
}
#btn1 {
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #0d7cff 0%, #04e1fc 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;  /*インライン要素をかけてないままだとtransformが効かない*/
  position: absolute;
  left: 220px;
  top:20px;
}
#btn1:hover {
  transform: scale(1.05);
}
#btn11 {
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #04d615 0%, #adf74c 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  left: 220px;
  top:20px;
}
#btn11:hover {
  transform: scale(1.05);
}
#btn2 {
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #04d615 0%, #adf74c 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 220px;
  top:20px;
}
#btn2:hover {
  transform: scale(1.05);
}
#btn3 {
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #fb1c2b 0%, #ff60ad 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 220px;
  top:20px;
}
#btn3:hover {
  transform: scale(1.05);
}
/*--------send-btn--------*/
/*--------btn4--------*/
/*--------btn5--------*/
.send-btn {
  text-align: center;
  margin-top: 550px;
}
.btn {
  font-size: 16px;
  color: white;
  width: 400px;
  border: 1px solid #7d7d7d;
  display: block;
  padding: 30px 0;
  margin: 0 auto 20px auto;
  position: relative;
  transition: 0.3s;
}
.btn::after,
.btn::before {
  position: absolute;
  content: '';
  right: -40px;
  height: 1px;
  background-color: white;
  transition: 0.3s;
}
.btn::before {  /*--直線の部分--*/
  width: 120px;
  top: 48px;
}
.btn::after {  /*--矢印先端の部分--*/
  width: 15px;
  top: 45px;
  transform: rotate(25deg);
}
.btn:hover {
  opacity: 0.6;
}
.btn:hover::after,
.btn:hover::before {
  right: -50px;
}
/*-----------timerTarget.html------------*/
/*------main-------*/
#main2 {
  text-align: center;
}
.big-title {
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 55px;
}
#dayList {
  padding-top: 20px;
  padding-left: 0;
}
#recordList {
  padding-left: 0;
}
#objectiveText {
  margin-top: 40px;
}
#textsituation {
  margin-top: 40px;
}
/*-------生成されたli要素の装飾-------*/
li {
  font-size: 20px;
  margin-top: 20px;
}
#creation {
  width: 100%;
}
.creation-text {
  font-size: 20px;
}
.what, .time {
  margin-top: 30px;
}
.what input {
  font-size: 20px;
}
.time input {
  font-size: 20px;
  width: 100px;
}
#btn6 {
  margin-top: 60px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #fe7000 0%, #fffa00 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
}
#btn6:hover {
  transform: scale(1.05);
}
.send-btn2 {
  margin-top: 250px;
}
#btn9 {
  margin-top: 60px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #9927f7 0%, #d4a4fc 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
}
#btn9:hover {
  transform: scale(1.05);
}
.titlebig {
  margin-top: 50px;
}
#situationList1, #situationList2, #situationList3 {
  margin-bottom: 50px;
  margin-top: 35px;
}
/*----------timerRecord.html-----------*/
#main3 {
  text-align: center;
}
#btn8 {
  margin-top: 60px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: linear-gradient(to right, #9927f7 0%, #d4a4fc 100%);
  padding: 15px 60px;
  border-radius: 30px;
  transition: 0.2s;
  cursor: pointer;
  display: inline-block;
}
#btn8:hover {
  transform: scale(1.05);
}
.send-btn3 {
  margin-top: 200px;
}
.big-title2 {
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.checkmark {
position: relative;
}
.checkmark::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 16px;
  top: 41%;
  left: -28px;
  border: solid 3px red;
  border-left: 0;
  border-top: 0;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s;
}
.create {
  font-size: 16px;
  color: white;
  padding: 10px 20px;
  border: 1px solid #7d7d7d;
  cursor: pointer;
}
.create:hover {
  opacity: 0.7;
}
#form {
  padding-top: 15px;
}
#changeBtn {
  background-color: #7d7d7d;
  padding: 8px 0;
  width: 321px;
  margin: 5px auto 0 auto;
}
#totalBtn {
  background-color: #7d7d7d;
  padding: 5px 37px;
  color: #000;
  cursor: pointer;
  transition: .3s;
}
#totalBtn:hover {
  color: white;
}
#percentBtn {
  background-color: #7d7d7d;
  padding: 5px 30px;
  color: #000;
  cursor: pointer;
  transition: .3s;
}
#percentBtn:hover {
  color: white;
}
#remainingBtn {
  background-color: #7d7d7d;
  padding: 5px 23px;
  color: #000;
  cursor: pointer;
  transition: .3s;
}
#remainingBtn:hover {
  color: white;
}
.white {
  background-color: white!important;
}
.colorblack {
  color: #000!important;
}
.big-title4 {
  display: inline-block;
  font-size: 50px;
  font-weight: 300;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}
#textachieve {
  padding-top: 27px;
}
/*--------------calendar---------------*/
#calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section {
  margin: 10px;
}
h1 {
  font-size: 40px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td {
  font-size: 24px;
  border: 1px solid #ddd;
  padding: 20px 38px;
  text-align: center;
}
td:first-child {
  color: red;
}
td:last-child {
  color: royalblue;
}
td.is-disabled {
  color: #7d7d7d;;
}
.dayClick {
  cursor: pointer;
}
/*--------------noteZone---------------*/
#noteZone {
  margin: 30px auto 0 auto;
  width: 400px;
  height: 410px;
  background-color: white;
  position: relative;
}
#noteTime {
  color: black;
  font-size: 26px;
  padding-top: 5px;
  margin-bottom: 0;
}
.titleSmall {
  color: black;
  margin: 0;
  padding-left: 10px;
  text-align: left;
  font-weight: normal;
  padding-top: 10px;
}
.radioText {
  color: #000!important;
  font-size: 20px;
  margin-right: 20px;
}
.close {
  color: #000;
  font-size: 25px;
  position: absolute;
  top: -5px;
  right: 5px;
  cursor: pointer;
}
#reset {
  margin-right: 50px;
}
.btnzone {
  padding-top: 30px;
}
#makeBtn {
  cursor: pointer;
}
#blackBack {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.8;
}
#centerNote {
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#displayNote {
  margin: 30px auto 0 auto;
  width: 400px;
  height: 330px;
  background-color: white;
  position: relative;
}
#noChange {
  width: 370px;
  height: 310px;
  position: fixed;
  top: 50.5%;
  left: 49.8%;
  transform: translate(-50%, -50%);
  z-index: 21;
}
#stampList {
  margin-bottom: 50px;
  font-size: 20px;
}
.keepText {
  color: #fa3d2f;
}
