@charset "UTF-8";
.container {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}
div .blue{
  padding: 1px 0;
  background: #eb4034;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  background-color: #e6e5e3;
}
dt {
  width: 20%;
  padding: 20px 10px;
}
dd {
  width: 70%;
  padding: 20px 0px;
}
.text {
  width: 50%;
}
h2 {
  text-align: center;
  margin-top: 30px;
}
span {
  color: red;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
#btn {
  width: 150px;
  margin: 20px auto 0 auto;
}
#btn a {
  color: #fff;
  text-align: center;
  background-color: #eb4034;
  padding: 10px 10px;
  border-radius: 5px;
}
.red {
  border: red solid 2px;
}
/*-----------------送信完了画面------------------*/
.top-btn {
  width: 200px;
  margin: 200px auto 0 auto;
}
.top-btn a {
  color: #fff;
  text-align: center;
  background-color: #eb4034;
  padding: 10px 10px;
  border-radius: 5px;
}
